[defaults]
inventory = inventory.yml
remote_user = ansible
host_key_checking = False
deprecation_warnings = False

[ssh_connection]
pipelining = True # makes debugging hard, but makes deployment fast
